@charset "UTF-8";
/* button:hover,
a:hover {
	opacity:.5;
} */
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 80%; /*rem算出をしやすくするために*/
}

.btn, input.btn, a.btn, button.btn {
	font-size: 1.3rem;
	font-weight: 900;
	line-height: 90%;
	position: relative;
	display: inline-block;
	padding: 1rem 2rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

.btn--orange {
	color: #fff;
	background-color: #ff7f00;
	border-bottom: 5px solid #b84c00;
}

.btn--orange:hover {
	margin-top: 3px;
	color: #fff;
	background: #f56500;
	border-bottom: 2px solid #b84c00;
}

.btn--shadow {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.btn--blue {
	color: #fff;
	background-color: #00ff7f;
	border-bottom: 5px solid #00994d;
}

.btn--blue:hover {
	margin-top: 3px;
	color: #fff;
	background: #33ff99;
	border-bottom: 2px solid #00994d;
}

.btn--shadow {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.btn-r, input.btn-r, a.btn-r, button.btn-r {
	font-size: 1.0rem;
	font-weight: 900;
	line-height: 90%;
	position: relative;
	display: inline-block;
	padding: 0.5rem 0.8rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

.logo {
	margin-left: 5px;
	margin-top: 5px;
}

body {
	padding-top: 75px;
	margin: 0;
}

header {
	background: rgba(255, 255, 255, 1.0);
	position: fixed;
	width: 100%;
	height:75px;
	left: 0;
	top: 0;
	z-index: 10;
}

div.header-inner{
	height: 50px;
}





td.login {
	padding: 10px;
	margin: 10px;
	font-size: medium;
	font-weight: bold;
}

th {
	text-align: center;
}

p.username {
	font-size: x-large;
	text-align:center;
	font-weight: bold;

    /* 横長で虹色を作る */
    background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
    animation: gaming 2s linear infinite;
}

@keyframes gaming {
    /* backgroundを移動させる */
    100% { background-position-x: 200%; }
}




div.login {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

div.loginE {
	font-size: large;
	font-weight: bold;
	color: red;
}

table {
	text-align: center;
}

.faile {
	color: red;
}



.split {
	display: table;
	width: 100%;

}

.split-item-search {
	opacity:1.0;
	display:table-cell;
	background-color:#fff;
	top:120px;
	left:0;
	margin:auto;
	width: 30%;
	z-index: 10;
}

.split-item-SearchResult{
background-image: url("../img/buffet-g133ec590c_1280.jpg");
	display:table-cell;
	background-color:#fff;

	width:70%;

}

.split-inner-search {
	position: fixed;
	margin-left: 20px;
	margin-top: 10px;
}

.split-inner-SearchResult {
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10%;
	margin-left: 10%;

}

footer {
	margin-top: 15px;
}

.newaccount {
	margin: auto;
}

table.newadd {
	margin: auto; font-size : medium;
	font-weight: bold;
	font-size: medium;
}

td.newtd {
	margin: 10px;
	padding: 10px;
}

.newaddtitle {
	font-size: x-large;
}

table.searchtable{
	background-color:#fff;
	margin-top:10px;
	margin-bottom:10px;
	border: 5px solid #333;
	border-collapse: separate;
	border-spacing:0;
	border-radius:6px;
	overflow:hidden;
	width: 100%;
	text-align: center;
	z-index: 10

}

table.searchtable td{
	padding: .3em 1em;
	border-bottom:solid 2px #222;
}


table.searchtable td{
	border-left: 2px solid #222;
}



div.reviewbox{

	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

/* table.searchtable tr:last-child td{
	border-bottom: none;
} */

td.ele{
	width: 30%
}

td.shopname{
	font-weight: bold;
	font-size:medium;
}

.review{
	background-color:#fff;
	margin-top:10px;
	margin-bottom:10px;
	border: 5px solid #333;
	border-collapse: separate;
	border-spacing:0;
	border-radius:6px;
	overflow:hidden;
	width: 100%;
	text-align: center;
	z-index: 10

}

table.review td{
	padding: .3em 1em;
	border-bottom:solid 2px #222;
}


table.review td{
	border-left: 2px solid #222;
}

/* table.reshop tr:last-child td{
	border-bottom: none;
} */

td.res{
	width:20%;
	background-color: #cce6ff;
}

td.shopname{
	font-weight: bold;
	font-size:medium;
}

div.shoptable{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

div.searchtable{
	width:75%;
	margin-left: auto;
	margin-right: auto;
}

div.reviews{

	margin-left: auto;
	margin-right: auto;
	width:75%;
}

div.reviewpage{
	width: 100%;
	background-image: url("../img/south-station-g6b6bc3b1d_1280.jpg")
}


table.retable{
	background-color:#fff;
	margin-top:10px;
	margin-bottom:10px;
	border: 5px solid #333;
	border-collapse: separate;
	border-spacing:0;
	border-radius:6px;
	overflow:hidden;
	width: 100%;
	text-align: center;
	z-index: 10

}

table.retable td{
	padding: .3em 1em;
	border-bottom:solid 2px #222;
}


table.retable td{
	border-left: 2px solid #222;
}

/* table.reshop tr:last-child td{
	border-bottom: none;
} */

td.res{
	background-color: #cce6ff;
}

td.shopname{
	font-weight: bold;
	font-size:medium;
}

td.renum{
	font-weight:bold;
	width:10%;
	background-color: #ff7f00;
}

td.name,td.point,td.day,td.info{
	width: 20%
}

td.heninfo,td.henday{
	width: 30%;
}

td.henname,td.henpoint{
	width: 30%;
}

table.top{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

footer.logout,
div.logout{
	width:100%;
	text-align:center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.box{

}

div.reviewnontext{
	font-size: large;
	font-weight: bold;
}

div.newaccount{
	text-align: center;
}




/* /* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position   : relative;
  max-width  :100%;
  height     : 100%;
  margin     : auto;
  overflow   : hidden;
}

--- 背景の指定 -------------------------------------------
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 50s infinite;   4画像 × 各5s = 20s
}

--- 段差で背景画像のアニメーションを実行 -----------------
.box .src1 {
  background-image : url(img/buffet-g133ec590c_1280.jpg);   背景の画像を指定
}
.box .src2 {
  background-image : url(img/chairs-gc36c0f74d_1280.jpg);   背景の画像を指定
  animation-delay  : 10s;
}
.box .src3 {
  background-image : url(img/paris-g4ad3f33a8_1280.jpg);   背景の画像を指定
  animation-delay  : 20s;
}
.box .src4 {
  background-image : url(img/restaurant-gb44b318c3_1280.jpg);   背景の画像を指定
  animation-delay  : 30s;
}

.box .src5 {
  background-image : url(img/south-station-g6b6bc3b1d_1280.jpg);   背景の画像を指定
  animation-delay  : 40s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}


 */